In [1]:
print('hi')

# https://www.microsoft.com/en-us/sql-server/developer-get-started/python/windows/step/3.html   OPTIMIZE USING COLUMNSTORE?
# https://github.com/mkleehammer/pyodbc/wiki/Connecting-to-SQL-Server-from-Windows

hi

In [2]:
import pyodbc
server = 'lenovo\sqlexpress' # not localhost
database = 'SampleDB'
username = ''
password = ''
cnxn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()

In [3]:
print ('Inserting a new row into table')
#Insert Query
tsql = "INSERT INTO Employees (Name, Location) VALUES (?,?);"
with cursor.execute(tsql,'Jake','United States'):
    print ('Successfully Inserted!')


#Update Query
print ('Updating Location for Nikita')
tsql = "UPDATE Employees SET Location = ? WHERE Name = ?"
with cursor.execute(tsql,'Sweden','Nikita'):
    print ('Successfully Updated!')

Inserting a new row into table
Successfully Inserted!
Updating Location for Nikita
Successfully Updated!

In [4]:

#Delete Query
print ('Deleting user Jared')
tsql = "DELETE FROM Employees WHERE Name = ?"
with cursor.execute(tsql,'Jared'):
    print ('Successfully Deleted!')


#Select Query
print ('Reading data from table')
tsql = "SELECT Name, Location FROM Employees;"
with cursor.execute(tsql):
    row = cursor.fetchone()
    while row:
        print (str(row[0]) + " " + str(row[1]))
        row = cursor.fetchone()

Deleting user Jared
Successfully Deleted!
Reading data from table
Nikita Sweden
Tom Germany
Jake United States
Jake United States